html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body
{
	font-family: 'Espacio', 'Amaranth', sans-serif;
	margin : 0px;
}

#logo_sinapps {
	width: 281px;
	height: 74px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#head_fixe {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	max-width: 1210px;
}

#onglets {
	width: 100%;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
}

.header_onglets {
	display: inline-block;
	float: left;
	line-height: 50px;
	text-transform: uppercase;
	list-style: none;
	margin : 0;
	padding : 0;
	text-align: center;
	width: 1189px;
}

.niveau2 {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;

	position: absolute;
	z-index: 1000;
	min-width: 100%;
	height : 50px;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}

.header_onglets li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border-right: 1px solid #698296;
	min-width: 197px;
	min-height: 49px;
	float : left;
}

.header_onglets li li {
	display: inherit;
}

.header_onglets li:hover,  .header_onglets li:focus{
	background-color: #1267d8;

}

.header_onglets a {
	/*margin : 0 30px;*/
	padding: 5px 50px;
	display: block;
	text-decoration: none;
}

.header_onglets ul li a {
	padding: 5px 8px;

}

.header_onglets ul ul {
	left : 100%;
	top: 0;
	overflow: hidden;
	max-width: 0;
	min-width: 0;
	transition: 0.3s all;

}

.header_onglets ul li:hover ul {
	max-width: 30em;
}

.header_onglets ul li {
	max-height: 0;
	overflow: hidden;
	transition: 0.8s all;
}

.header_onglets li li li {
	max-height: inherit;
}

.header_onglets li:hover li {
	max-height: 15em;
	overflow: visible;
}

#accueil {
	border-left: 1px solid #698296;
}





#banniere {
	background: url("../_IMG/imgHeaderSin.jpg") no-repeat center top;
	height: 600px;
}

#bandeau_bas {
	height: 250px;
	width : 100%;
	background: url("../_IMG/background_bas.jpg") no-repeat center bottom;
	border-top : 10px solid #002d5b;
}

a {
	text-decoration: none;
	color : black;
}




/* Page Accueil */
/* *Que faisons-nous ?* */
h1
{
	
}

h2
{

}

h3
{
	text-transform : uppercase;
}

/************************************/

.th1
{
	font-size: 70px;
	font-weight: 800;
	color: #555555;
}

.th2
{
	font-size: 28px;
	font-weight: 300;
	color: #8D8D8D;
}

.th3
{
<<<<<<< HEAD
	height: 25px;
	font-size: 1.250em;
	color: #555555;
	text-transform: uppercase;
=======
>>>>>>> origin/master
	vertical-align: middle;
}

strong
{
	color: blue;
}

.content
{
	text-align: center;
	background-image: url("../_IMG/background.jpg");
	border-top : 10px solid #e8e8e8;
}

.welcome
{

}

.intro
{
	font-weight: 100;
	color: #7f7f7f;
}

.i1
{
	font-weight: 200;
	color: #00b0b9;
}

.intro_box
{
	width: 1000px;
	overflow: auto;
	margin: 0 auto;

	/*background-color: lime;*/
}

.box_container
{
	width: 33.33%;
	float: left;

	/*background-color: blue;*/
}

.presta
{
	height: 400px;
	margin: 10%;
	float: left;

	/*background-color: yellow;*/
	background-color: rgba(251, 251, 251, 0.35);
}

.presta .img_presta
{
	height: 100px;
}

.presta .txt_box
{
	height: 250px;
	font-size: 1.125em;
	margin: 10px;
}

.presta .more
{
	height: 25px;
	font-size: 1.250em;
	border: 1px solid black;
}